####################################
# MATLAB
####################################

# Windows default autosave extension
*.asv

# OSX / *nix default autosave extension
*.m~
.DS_Store

# Compiled MEX binaries (all platforms)
*.mex*

# Packaged app and toolbox files 
*.mlappinstall 
*.mltbx 
  
# Generated helpsearch folders 
helpsearch*/ 

# Simulink code generation folders
slprj/
sccprj/

# Simulink autosave extension
*.autosave

# Octave session info
octave-workspace

# 1D_TAB_TARGET files
1D_TAB_TARGET*

# Sensibility Analysis Outputs (too large for git, >100 MB usually)
Sensitivity_Analysis/Outputs/*